body {margin-top: 0px;}


.header {font-family: verdana;
         font-size: 14px;
         font-weight: bold;
         display: inline-flex;
         position: fixed;
         background: white;
         border-bottom: 1px solid black;
       }


h1 {color: mediumaquamarine;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 500px;
}

.navigation {padding-top: 15px;
             padding-left: 650px;

  }


a {color: black;
   font-size: 14px;
   padding-right: 30px;
   }

.logo {display: inline-block;
       margin-left: 40px;

  }

.section {width: 45%;
  }



.phish {font-family: Georgia;
        font-weight: bold;
        font-size: 30px;
        border: 1px solid black;
        background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
        color: white;
        height: 300px;
        display: flex;
        align-items: flex-start;
}

.phish h2 {margin-top: 0px;
           font-size: 40px;
           text-align: left;
           padding-top: 90px;
           padding-left: 20px;}



.content {font-family: Georgia;
          font-size: 17px;
          color: black;
}

.bottom {display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
}

#earth {background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
        font-family: Georgia;
        font-weight: bold;
        color: white;
        height: 300px;
}

#earth h2 {margin-top: 0px;
           font-size: 30px;
           display: flex;
           text-align: center;
           padding-top: 100px;
}

#cameras {display: flex;
          background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
          font-family: Georgia;
          font-weight: bold;
          font-size: 30px;
          color: white;
          height: 300px;}

#cameras h2 {margin-top: 0px;
             font-size: 30px;
             display: flex;
             text-align: center;
             padding-top: 100px;}

.column {margin: 20px;
}



.large {width: 630px;
        display: flex;
        flex-direction: column;

}

#cats {background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
       background-repeat: no-repeat;
       font-family: Georgia;
       font-weight: bold;
       font-size: 30px;
       color: white;
       height: 300px;
  }

#cats h2 {margin-top: 0px;
          font-size: 30px;
          text-align: center;
          padding-top: 115px;
}


.medium {width: 300px;

}

.main {display: inline-flex;
       margin-left: 200px;
       margin-top: 80px;
     }

.small {width: 240px;
        flex-direction: column;
}


h3 {font-family: Georgia;
  font-size: 30px;
  color: black;}

h4 {font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

.bites {display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        font-family: verdana;
        font-size: 12px;
        color: dimgray;
        padding-top: 5px;
        padding-left: 20px;
  }

span {border-bottom: 1px solid black;
      padding: 10px;}
