.header {font-family: verdana;
         font-size: 14px;
         font-weight: bold;
         display: inline-flex;
}

h1 {color: mediumaquamarine;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 500px;
    border: 1px solid black;
}

.navigation {padding-top: 15px;
             padding-left: 850px;
          }


a {color: black;
   font-size: 14px;
   padding-right: 30px;
   }

.logo {display: inline-block;
       margin-left: 40px;
       border: 1px solid black;
  }

.phish {border: 1px solid black;
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
background-repeat: no-repeat;
background-size: cover;
color: white;
height: 250px;
}




.content1 {border: 1px solid black;
}

.orca {border: 1px solid black;
}

.earth {border: 1px solid black;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  margin-bottom: 50px;
  background-size: cover;}

.burger {border: 1px solid black;
}

.cameras {border: 1px solid black;
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.column {border: 1px solid black;
         margin: 50px;
}
.large {border: 1px solid black;
}
.FBI {border: 1px solid black;
}

.cats {border: 1px solid black;
}

.content2 {border: 1px solid black;

}

.column.medium {border: 1px solid black;
}

.main {display: inline-flex;
       border: 1px solid black;
       margin-left: 40px;
       margin-top: 10px;

     }

.column.small {border: 1px solid black;
}

.bites {border: 1px solid black;
}
